@model List<SitEat.Models.RestaurantTagReviewViewModel>

@{
    ViewData["Title"] = "Home";
}
@section Navbar2
{
    <li class="nav-item">
        <a class="nav-link" href="#">Browse&nbsp;All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Best&nbsp;Rated</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Featured</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pizza</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">American</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Kebab</a>
    </li>
}

@foreach (var item in Model)
{
    <div class="content">
        <section class="flex-description" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = item.Id})'">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <img src="@item.ImagePath" alt="thumb">
            <p class="tag-section">
                @foreach(var tag in item.Tags)
                    {
                        @Html.DisplayFor(modelItem => tag)                    
                    }
            </p>
            <p class="rating-section"> Rating: @for (int i=0; i < Math.Floor((decimal)item.Rating); i++)
                {
                    <span class="star">&starf;</span>
                }
            @Html.DisplayFor(modelItem => item.Rating)/5</p>
            @foreach (var time in item.OpeningTimes.Split("<br>"))
            {
                <p class="hours-section">@time</p>
            }
        </section>
        <div class="reservation-container">
            <button class="reservation" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = item.Id, IsDisplayed = true})'">Make reservation</button>
        </div>
    </div>
}
