@model List<SitEat.Models.RestaurantTagReviewViewModel>

@{
    ViewData["Title"] = "Home";
}

@foreach (var item in Model)
{
    <div class="content">
        <section class="flex-description">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <img src="@item.ImagePath" alt="thumb">
            @*<p class="tag-section">
                @foreach(var tag in item.Tags)
                    {
                        @Html.DisplayFor(modelItem => tag)                    
                    }
            </p>
            <p class="rating-section"> Rating: @for (int i=1; i < item.Score; i++)
                {
                    <p>*</p>
                }
                @Html.DisplayFor(modelItem => item.Score)/5</p>*@
            @foreach (var time in item.OpeningTimes.Split("<br>"))
            {
                <p class="hours-section">@time</p>
            }
        </section>
        <div class="reservation-container">
            <button class="reservation">Make reservation</button>
        </div>
    </div>
}
