@model IndexViewModel

@{
    ViewData["Title"] = "Home";
}
@section Navbar2
{
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="unfilter()">Browse&nbsp;All</a>
    </li>
    @foreach (var t in Model.ListOfTags)
    {
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="filter(event.target)">@t</a>
        </li>
    }
    
}

@section floatButton
{
   -<form>
        <div id="float">
            
            <p>
            &#x1F553;
            <input type="number" class="input" id="textInputHour" name="filterHour" value="12">
            <input class="slidecontainer" type="range" min="0" max="23" value="12" class="slider" id="myRange" onchange="updateTextInput(this.value)">
                
            </p>
            <p>
                &#x1f464
                <input type="number" class="input" id="textInputPerson" name="filterPeople" value="1">
                <input class="slidecontainer" type="range" min="1" max="16" value="1" class="slider" id="myRange" onchange="updateTextInput2(this.value)">            
            </p>
            <p>               
                <i class="fa fa-calendar" style="font-size:24px"></i>
                <input id="datefield" type="date" name="filterDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddMonths(1).ToString("yyyy-MM-dd")">
            </p>
            
        </div>
        </form>  
}

@foreach (var item in Model.Restaurants)
{
    <div class="content">
        <section class="flex-description" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = item.Id})'">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <img src="@item.ImagePath" alt="thumb">
            <p class="tag-section">
                @foreach(var tag in item.Tags)
                    {
                        @Html.DisplayFor(modelItem => tag)                    
                    }
            </p>
            <p class="rating-section"> Rating: 
            @for (int i=0; i < Math.Floor((decimal)item.Rating); i++)
                {
                    <span class="star">&starf;</span>
                }
            @Html.DisplayFor(modelItem => item.Rating)/5</p>
            @foreach (var time in item.OpeningTimes.Split("<br>"))
            {
                <p class="hours-section">@time</p>
            }
        </section>
        <div class="reservation-container">
            <button class="reservation" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = item.Id, IsInstantReservationChosen = true})'">Make reservation</button>
        </div>
    </div>
}
