@model IndexViewModel

@{
    ViewData["Title"] = "Home";
}
@section Navbar2
{
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="unfilter()">Browse&nbsp;All</a>
    </li>
    @foreach (var t in Model.ListOfTags)
    {
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="filter(event.target)">@t</a>
        </li>
    }
    
}

@foreach (var item in Model.Restaurants)
{
    <div class="content">
        <section class="flex-description" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = item.Id})'">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <img src="@item.ImagePath" alt="thumb">
            <p class="tag-section">
                @foreach(var tag in item.Tags)
                    {
                        @Html.DisplayFor(modelItem => tag)                    
                    }
            </p>
            <p class="rating-section"> Rating: 
            @for (int i=0; i < Math.Floor((decimal)item.Rating); i++)
                {
                    <span class="star">&starf;</span>
                }
            @Html.DisplayFor(modelItem => item.Rating)/5</p>
            @foreach (var time in item.OpeningTimes.Split("<br>"))
            {
                <p class="hours-section">@time</p>
            }
        </section>
        <div class="reservation-container">
            <button class="reservation" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = item.Id, IsInstantReservationChosen = true})'">Make reservation</button>
        </div>
    </div>
}
