@model SitEat.Models.RestaurantDetailsViewModel

@{
    ViewData["Title"] = "Restaurant";
}


@section Navbar2
{
        <li class="nav-item">
            <a class="nav-link reservation-button" onclick="showModal()">Make&nbsp;reservation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#one">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#two">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#three">Reviews</a>
        </li>
}

@section floatButton
{
   <form>
        <div id="float">
            
            <p>
            &#x1F553;
            <input type="number" class="input" id="textInputHour" name="filterHour" value="12">
            <input class="slidecontainer" type="range" min="0" max="23" value="12" class="slider" id="myRange" onchange="updateTextInput(this.value)">
                
            </p>
            <p>
                &#x1f464
                <input type="number" class="input" id="textInputPerson" name="filterPeople" value="1">
                <input class="slidecontainer" type="range" min="1" max="16" value="1" class="slider" id="myRange" onchange="updateTextInput2(this.value)">            
            </p>
            <p>               
                <i class="fa fa-calendar" style="font-size:24px"></i>
                <input id="datefield" type="date" name="filterDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddMonths(1).ToString("yyyy-MM-dd")">
            </p>
            
    </div>
    </form>  
}

<!-- Restaurant name and description -->
<div id="name" class="content">
    <section class="description">
        <h2><span id="one"></span>@Html.DisplayFor(Model => Model.Name)</h2>
        @Html.DisplayFor(Model => Model.Description)
    </section>
</div>

<!-- Restaurant menu -->
<div id="menu" class="content">
    <section class="description">
        <h2><span id="two"></span>Menu</h2>
        <ul class="food-menu-list">
            @foreach(var menuItem in Model.MenuItems)
            {
            <li class="food-menu-item">
                <div class="food-name">@menuItem.Name</div>
                <div class="food-price">@menuItem.Price</div>
            </li>
            }
        </ul>
    </section>
</div>

<!-- Restaurant user reviews -->
<div id="rating" class="content">
    <section class="description">
        <h2><span id="three"></span>Reviews</h2>
        <ul class="review-list">
            @foreach (var review in Model.Reviews)
            {
            <li class="review-item">
                
                <div class="review-author">@review.Author wrote:</div>
                <div class="review-rating">@for (int i=0; i < Math.Floor((decimal)review.Score); i++)
                {
                    <span class="star">&starf;</span>
                }
                </div>
                <div class="review-text">@review.Text</div>
            </li>
            }
        </ul>
    </section>
</div>
@if (Model.IsInstantReservationChosen) {
    <div id="myModal" class="modal" onclick="closeModal(event.target)" style="display:block">
        <div class="modal-content">
                <div class="modal-body">
                    <span class="close">&times;</span>

                    <div id="table-filter">
                        <form class="reservation-data-input">
                            <p>&#x1F553;</p>
                            <input type="number" name="filterHour" class="input" id="filterHour" min="0" max="23" value="@Model.FilterHour" onchange="toggleReservationButtons()">
                            <input type="text" name="IsInstantReservationChosen" style="display:none" value="true">
                            <p>&#x1f464</p>
                            <input type="number" name="filterPeople" class="input" id="filterPersonCount" min="1" max="16" value="@Model.FilterPeople" onchange="toggleReservationButtons()">
                            <input id="filterDatefield" type="date" name="filterDate" value="@Model.FilterDate.Value.Date.ToString("yyyy-MM-dd")" onchange="toggleReservationButtons()">
                            <button id="saveButton" class="reservation" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = Model.Id})" disabled>Save</button>
                        </form>
                    </div>
                    <div class="grid-container">
                    @foreach (var tableInfo in Model.TableInfos)
                    {
                        <div class="grid-item">
                            @if (tableInfo.IsTable && tableInfo.IsBooked)
                            {
                                <div class="with-table taken-table" onclick="makeSelection(event.target)">@tableInfo.NumberOfSits</div>
                            }
                            else if (tableInfo.IsTable)
                            {
                                <div class="with-table" onclick="makeSelection(event.target)">@tableInfo.NumberOfSits</div>
                            }
                            else
                            {
                                <div class="without-table"></div>
                            }
                        </div>
                    }
                    </div>
                    <form class="reservation-data-input">
                        <input id="postInput" type="text" style="display:none" required/>
                        <input id="userName" type="text" placeholder="Your name here" pattern="^\s*\S+.*$" required/>
                        <input id="userTel" type="tel" placeholder="Your phone number" pattern="^\d{9}$" required/>
                        <button id="reservationButton" class="reservation" onclick="getAllSelectedTables()">Submit reservation</button>
                    </form>

                </div>
             </div>
</div>
}
else {
    <div id="myModal" class="modal" onclick="closeModal(event.target)">
        <div class="modal-content">
                <div class="modal-body">
                    <span class="close">&times;</span>

                    <div id="table-filter">
                        <form class="reservation-data-input">
                            <p>&#x1F553;</p>
                            <input type="number" name="filterHour" class="input" id="filterHour" min="0" max="23" value="@Model.FilterHour" onchange="toggleReservationButtons()">
                            <input type="text" name="IsInstantReservationChosen" style="display:none" value="true">
                            <p>&#x1f464</p>
                            <input type="number" name="filterPeople" class="input" id="filterPersonCount" min="1" max="16" value="@Model.FilterPeople" onchange="toggleReservationButtons()">
                            <input id="filterDatefield" type="date" name="filterDate" value="@Model.FilterDate.Value.Date.ToString("yyyy-MM-dd")" onchange="toggleReservationButtons()">
                            <button id="saveButton" class="reservation" onclick="location.href='@Url.Action("Details","Restaurant", new {Id = Model.Id})" disabled>Save</button>
                        </form>
                    </div>
                    <div class="grid-container">
                    @foreach (var tableInfo in Model.TableInfos)
                    {
                        <div class="grid-item">
                        @if (tableInfo.IsTable && tableInfo.IsBooked)
                            {
                                <div class="with-table taken-table" onclick="makeSelection(event.target)">@tableInfo.NumberOfSits</div>
                            }
                            else if (tableInfo.IsTable)
                            {
                                <div class="with-table" onclick="makeSelection(event.target)">@tableInfo.NumberOfSits</div>
                            }
                            else
                            {
                                <div class="without-table"></div>
                            }
                        </div>
                    }
                    </div>
                    <form class="reservation-data-input">
                        <input id="postInput" type="text" style="display:none" required/>
                        <input id="userName" type="text" placeholder="Your name here" pattern="^\s*\S+.*$" required/>
                        <input id="userTel" type="tel" placeholder="Your phone number" pattern="^\d{9}$" required/>
                        <button id="reservationButton" class="reservation" onclick="getAllSelectedTables()">Submit reservation</button>
                    </form>

                </div>
             </div>
</div>
}

<script >
    document.querySelector(".banner-container").style.backgroundImage = "url('@Model.ImagePath')";
</script>